{
    "token": "",
    "users": [],
    "ping_perms": [],
    "admins": [],
    "admin_roles": [],
    "blacklist": [],
    "blacklist_roles": [],
    "guild": null,
    "channel": null,
    "target": null
}